<%- include("extras/header") %>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Todo List Web App</a>
        </div>
    </nav>

    <div class="container mt-3">
        <form action="/todos" method="POST" class="d-flex">
            <input
                type="text"
                name="todoInput"
                placeholder="Enter todo..."
                class="form-control"
            />
            <input type="submit" value="Add" class="btn btn-md btn-primary" />
        </form>

        <ul class="list-group mt-3">
            <li class="list-group-item list-group-item-action">Dummy</li>
            <% locals.todos.forEach(entry => { %>
            <div class="hstack gap-2">
                <li class="list-group-item list-group-item-action">
                    <%= entry.context %>
                </li>
                <form action="/todos/delete/<%= entry.id %>" method="POST">
                    <input
                        type="submit"
                        value="Done"
                        class="btn btn-md btn-success"
                    />
                </form>
            </div>
            <% }); %>
        </ul>
    </div>
</body>
